:root {
	--bg-color: #eee;
	--text-color: #181818;
	--primary-color: #e8532c;
}

.dark {
	--bg-color: #191919;
	--text-color: #eee;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Fira Code', sans-serif;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.visible {
	display: table;
}
nav {
	width: 100%;
	height: 50px;
	color: var(--text-color);
	background-color: var(--bg-color);
	z-index: 2;
	border-bottom: 1px solid var(--text-color);
	position: fixed;
	padding: 0px 20px;
	display: grid;
	grid-template-columns: 1fr max-content max-content;
}
.logo,
nav li {
	height: 50px;
	display: inline-block;
}
.logo h1 {
	padding: 10px 0px;
	color: var(--primary-color);
}
nav img {
	height: 30px;
	padding: 10px;
}
nav ul {
	display: flex;
	gap: 20px;
	transition: display 0.3s ease-in-out;
}
nav li {
	list-style: none;
	line-height: 50px;
}
nav li a {
	text-decoration: none;
	color: var(--text-color);
	transition: background 0.3s ease-in;
}
nav li a:hover {
	border-bottom: 4px solid darkgreen;
	color: var(--text-color);
}

.toggle-theme {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-left: 20px;
}
.toggle-theme::after {
	content: '🌙';
}

.dark .toggle-theme::after {
	content: '🌄';
}

/* Toggle Button */
.toggle-btn {
	width: 50px;
	height: 50px;
	padding: 10px;
	margin-right: 10px;
	box-sizing: border-box;
	top: 0px;
	right: 0px;
	display: none;
	position: absolute;
	cursor: pointer;
}
.toggle-btn span,
.toggle-btn span:before,
.toggle-btn span:after {
	width: 30px;
	height: 2px;
	background: white;
	position: absolute;
	transition: width 0.3s ease-in-out, transform 0.3s ease-in-out,
		background 0.3s ease-in-out;
}
.toggle-btn span {
	top: 50%;
}
.toggle-btn span:before {
	content: '';
	top: -10px;
}
.toggle-btn span:after {
	content: '';
	top: 10px;
}
.toggle-btn.onclick span {
	background: none;
}
.toggle-btn.onclick span:before {
	transform: translateY(10px) rotate(45deg);
}
.toggle-btn.onclick span:after {
	transform: translateY(-10px) rotate(-45deg);
}

header,
.dev,
.before-footer {
	width: 100%;
	height: 600px;
	position: relative;
	overflow: hidden;
	z-index: -1;
	transition: height 0.5s ease-in-out, background-size 0.5s ease-in-out;
}
header {
	background: url('../img/divyank.jpg') no-repeat;
	background-size: cover;
}
.dev {
	background: url('../img/dev.jpg') no-repeat;
	background-size: cover;
}
.before-footer {
	background: url('../img/connect.jpg') no-repeat;
	background-size: cover;
}
header:after,
.dev:after,
.dev:before,
.before-footer:before,
.before-footer:after {
	content: '';
	width: 100%;
	height: 100px;
	background-color: var(--bg-color);
	position: absolute;
	z-index: 1;
	transform: scaleX(1.5) rotate(-6deg);
}
header:after,
.dev:after,
.before-footer:after {
	bottom: -50px;
}
.dev:before,
.before-footer:before {
	top: -50px;
}
.before-footer:after {
	background-color: var(--bg-color);
}

.content {
	padding: 20px;
	color: var(--primary-color);
	background-color: var(--bg-color);
}

/* Info */
.info h1 {
	text-align: center;
	margin-bottom: 20px;
}
.info p {
	color: var(--text-color);
	margin-top: 10px;
	padding: 10px 70px;
}
.info hr {
	width: 50%;
	margin: 0px auto;
}

.dev-container {
	overflow: hidden;
	display: grid;
}
.item {
	width: 85%;
	margin: 0 auto 50px auto;
	box-sizing: border-box;
	border: 1px solid #212121;
	opacity: 0;
	z-index: 1;
}
.item h2 {
	text-align: center;
}
.item img {
	width: 100%;
	box-sizing: border-box;
	transition: transform 0.3s ease-in-out;
}
.item a {
	display: block;
}

footer {
	padding: 20px;
	color: var(--text-color);
	background-color: var(--bg-color);
	box-sizing: border-box;
}
.social-links {
	height: 50px;
}
.social-links img {
	width: 30px;
	height: 30px;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.3s linear;
}
.social-links img:hover {
	opacity: 1;
}
footer h1,
.copyright {
	margin: 20px 0;
}
.copyright {
	font-size: 10px;
}

@media screen and (max-width: 768px) {
	* {
		font-size: 16px;
	}
	h1 {
		font-size: 24px;
	}
	header,
	.dev,
	.before-footer {
		height: 400px;
	}
	.toggle-btn {
		display: block;
	}
	.toggle-theme {
		display: none;
	}
	nav ul {
		display: none;
	}
	nav ul.visible {
		background: var(--bg-color);
		position: absolute;
		top: 50px;
		width: 100%;
	}
	nav li {
		display: block;
	}
	nav li a {
		color: white;
		font-size: 20px;
		padding: 0px;
		text-align: center;
		display: block;
		line-height: 50px;
	}
}
@media screen and (max-width: 425px) {
	* {
		font-size: 14px;
	}
	h1 {
		font-size: 20px;
	}
	header,
	.dev,
	.before-footer {
		height: 250px;
	}
	nav li a {
		font-size: 16px;
	}
	.social-links img {
		width: 35px;
		height: 35px;
	}
	.info p {
		padding: 10px 40px;
	}
}

@media screen and (min-width: 1024px) {
	.dev-container {
		grid-template-columns: 1fr 1fr;
	}
}
